@import url('https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans:wght@700&family=Oswald:wght@600&family=Roboto:ital,wght@0,400;1,300&display=swap');
:root{

/*paleta de cores do site*/
--corfundo: white;
--cortexto: black;
--corprincipal: #014040;
--corsecundaria: #027368; 
--cordestaque: #A60303;

/*largura do site*/

--larguramaxima: 1000px;
--larguraminima: 250px; 

/*Fontes do site*/

--fontegeral: 'Noto Serif Hebraico', serif;
--fontetitulos: 'Inter', sans-serif;
--fontedestaque: 'Oswald', sans-serif;

}

* {
    margin: 0; /*magem externas*/
    padding: 0; /*margem Internas*/
}

body {
    
    background-color: var(--corfundo);/*cor de fundo do site*/
    font-family: var(--fontegeral);/*define a fonte padrao do site*/
    color: var(--cortexto);/*define a cor do texto*/
    
    }

    header, main, footer{

max-width: var(--larguramaxima);/*Largura maxima do site*/
min-width: var(--larguraminima);/*Largura minima do site*/
background-color: rgb(5, 247, 226);/*Apagar depois*/
margin: auto;
padding: 10px;
    }
    #sociais{

        background-color: rgb(241, 7, 7); /*apagar*/
    width: 120px;
    }

    .social{
width: 27px;
    }

    #capa{
width: 100%; /*Largura*/
height: 275px; /*Altura*/
background-color: var(--corprincipal); /*Cor de fundo*/
background-image: url('images/bg-abstrato.jpg'); /*Defina a imagem do fundo da div*/
background-repeat: no-repeat; /*Não repetir a imagem*/
background-size: auto; /*ajusta a imagem da div*/
background-position: 0px 0px; /*posiciona a imagem dentro da div*/
display: flex; /*Elementos internos flexiveiss alinhados lado a lado*/
flex-direction: column; /*Elementos um abaixo do outro*/
justify-content: center;/*Alinhar horizontalmente*/
align-items: center; /*Alinhar verticalmente*/

    }



